.container {
    height: auto;
    max-height: 100vh;
    background-color: black;
}

.containerMain {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: aquamarine;
    padding: 4% 10%;
}

.containerPerson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: #fff;
}